// Body
$body-bg: #f8fafc;

// Typography
$font-body: 'Work Sans',
sans-serif;
$font-heading: 'Montserrat',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$light: #ffffff;
$dark: #272930;
$darker: #202121;
$hover-light: rgba(39, 41, 48, .05);
$accent: #ef6461;
$accent-light: #ef646180;
$accent-lighter: #ef646140;
